body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    max-width: 100%;
    overflow-x: hidden;
}

.menu {
    background-color: #2c3e50;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    font-size: 2rem;
}

.height-changer {
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s ease-in-out;
}

.navbar {
    font-size: large;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #cccccce6;
}

.bi.bi-list {
    color: #fff;
}

.navbar-toggler {
    border-color: #fff;
    background-color: #1abc9ce6 ;
    display: flex;
    align-items: center;
}

.navbar-toggler-icon {
    color: #fff;
    fill: #fff;
}

.nav-link.active {
    color: #1abc9ce6 !important;
    font-weight: bold;
}

.collapse ul li :active {
    color: #1abc9ce6;
    border-radius:30px;
}

.container ul li :active a {
    color: #1abc9ce6 !important;

}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
}

.navbar-brand:hover {
    color: #fff;
}

h5.menu-title {
    font-size: medium;
    margin-bottom: 0 !important;
    color: #fff;
}

.hero {
    height: 125vh;
    background-color: #1abc9ce6;
}

.hero-block.py-5.d-flex.justify-content-center.text-center.flex-column {
    padding-bottom: 20vh;
    padding-top: 10vh;
} 

.hero-image {
    margin-top: 5vh;
}

.hero-heading {
    color: #fff;        
    font-weight: bold;
    width: 100vw;
}

.hero-skills {
    color: #fff;
}

.hero-devider-custom-line {
    background-color: #fff;
    width: 10vw;
    height: 0.3em;
    border-radius: 1rem;
}

.portfolio-devider-custom-line {
    background-color: #000;
    width: 10vw;
    height: 0.3em;
    border-radius: 1rem;
}

.portfolio-item-size {
    position: relative;
}

.portfolio-item-size:hover .portfolio-item-size-content {
    visibility: visible;
}

.portfolio-item-size-content {
    position: absolute;
    transition: all 0.2s ease-in-out;
    background-color: #1abc9ce6;
    flex-direction: column;
    visibility: hidden;
}

.modal-header {
    border-bottom: none !important;
}

.divider-custom {
    display: flex;
    justify-content: center;
}

.devider-custom {
    color: #2c3e50 ;
}

.portfolio-devider {
    color: #2c3e50;
}

.portfolio-heading {
    color: #2c3e50;
}

.hero-devider .bi {
    color: #fff;
}

.bi {
    font-size: 2rem;
}

.devider-custom .bi {
    font-size: 2rem;    
}

.devider-custom {
    color: #2c3e50;
}

.portfolio-devider-custom-line {
    background-color: #2c3e50;
}

.devider-custom-line {
    background-color: #2c3e50;
    color: #2c3e50;
    width: 10vw;
    height: 0.3em;
    border-radius: 1rem;
}

.modal-title {
    color: #2c3e50;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2rem;
}

.modal-paragraph {
    color: #2c3e50;
}

.about {
    background-color: #1abc9ce6;
    height: 100vh;
}

.about-contents-heading {
    color: #fff;
}

.about-contents-paragraph {
    color: #fff;
}

.btn.btn-transparent {
    border-color: #fff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.btn.btn-transparent:hover {
    background-color: #fff;
    transition: 0.2s;
    color: #2c3e50;
}

.col-12 .btn {
    background-color: #1abc9ce6;
    color: #fff;
}

.col-12 .btn:hover {
    transition: 0.4s;
    background-color: #fff;
    border-color: #1abc9ce6;
    color: #1abc9ce6;
}
.socials {
    background-color: #2c3e50;
    color: #fff;
}

.col-lg-7 i:hover {
    transition: 0.2s;
    color: #546b81;
}

.container-fluid.socials {
    height: auto;
}

.bgc {
    padding: 30px;
}

.bgc #navbar-brand {
    font-size: 30px;
}
